/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/

* {
  box-sizing: border-box;
  line-height: 2.5rem;
}

main {
  background-color: lightgrey;
  margin-top: 5rem;
  min-height: 60vh;
  padding: 3rem;
}

div {
  text-align: center;
}

span {
  display: block;
}

i:nth-of-type(1) {
  display: inline-block;
  animation: magic1 2s both;
}

i:nth-of-type(2) {
  display: inline-block;
  animation: magic2 2s 1.5s both;
}

/* i:nth-of-type(3) {
  display: inline-block;
  animation: magic 2s 1.5s infinite both;
} */

@keyframes magic1 {
  0% {
    transform: translate(0, -1.2rem);
  }
  50% {
    transform: translate(calc(-100% - 10px), -1rem);
  }
  75% {
    transform: translate(calc(-100% - 10px), 0rem);
  }
  100% {
    transform: translate(calc(-100% - 10px), 0);
  }
}

@keyframes magic2 {
  0% {
    transform: translate(calc(-100% - 10px), 0);
  }
  50% {
    transform: translate(calc(-100% - 10px), 1.2rem);
  }
  75% {
    transform: translate(calc(2rem - 10px), 0rem);
  }
  100% {
    transform: translate(calc(100% - 200px), 0);
  }
}
