* {
  box-sizing: border-box;
}

main {
  margin-top: 5rem;
  padding: 2rem 3rem;
  background-color: #666666;
  min-height: 60vh;
  display: flex;
  flex-wrap: wrap;
}

.post-it {
  width: 20%;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1.5rem;
  transform: translateZ(1000px) scale(0);
  animation: stick 0.3s ease-out both;
}

.post-it:hover {
  scale: 1.2;
  rotate: 0deg;
}

.orange {
  background-image: linear-gradient(to top, lightgray, #f6f6c4);
  rotate: -5deg;
  box-shadow: 5px 5px 10px rgba(10, 10, 10, 0.5);
}

.green {
  background-image: linear-gradient(to top, lightgray, #bae0bb);
  rotate: 5deg;
  box-shadow: 5px 5px 10px rgba(10, 10, 10, 0.5);
}

.purple {
  background-image: linear-gradient(to top, lightgray, #b3b2d0);
  rotate: -7deg;
  box-shadow: 5px 5px 10px rgba(10, 10, 10, 0.5);
}

@keyframes stick {
  0% {
    transform: translateZ(1000px) scale(0);
  }
  100% {
    transform: translateZ(0) scale(1);
  }
}

.post-it:nth-child(1) {
  animation-delay: 0.2s;
}

.post-it:nth-child(2) {
  animation-delay: 0.4s;
}

.post-it:nth-child(3) {
  animation-delay: 0.6s;
}

.post-it:nth-child(4) {
  animation-delay: 0.8s;
}

.post-it:nth-child(5) {
  animation-delay: 1s;
}

.post-it:nth-child(6) {
  animation-delay: 1.2s;
}

.post-it:nth-child(7) {
  animation-delay: 1.4s;
}

.post-it:nth-child(8) {
  animation-delay: 1.6s;
}
